<script setup>
    import { ref, onMounted } from 'vue';
    
    import api from '../api/api.js';

    const posts = ref([]);
    const title = ref("");
    const author = ref("");
    const content = ref("");
    const errors = ref([]);

    const fetchDataArticle = async () => {
        await api.get('/article')

        .then(response => {
            posts.value = response.data
        });
    }
    onMounted(() => {
        fetchDataArticle();
    });

    const showArticle = async (id) => {
        await api.get(`/article/${id}`)
        .then(response => {
            title.value = response.data.title;
            author.value = response.data.author;
            content.value = response.data.content;
        }).catch((err) => {
            errors.value = err.response.data.message
        });
    }

    const deleteArticle = async (id) => {
        Swal.fire({
            icon: 'warning',
            title: 'Do you want delete this article?',
            showCancelButton: true,
            confirmButtonText: 'Yes',
        }).then(async (result) => {
            if (result.isConfirmed) {
                await api.delete(`/article/${id}`)
                .then(() => {
                    Swal.fire(
                        'Article was deleted!',
                        '',
                        'success'
                    ).then(() => {
                        fetchDataArticle();
                    })
                });
            }
        })
    }
</script>

<template>
    <div class="mx-5">
        <table class="table table-bordered table-hover">
            <thead class="bg-dark text-white text-center">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Content</th>
                    <th scope="col" style="width:15%">Actions</th>
                </tr>
            </thead>
            <tbody>
                <template v-for="(post, index) in posts" :key="index">
                    <tr v-if="post.length == 0">
                        <td colspan="5" class="text-center">
                            <div class="alert alert-danger mb-0">
                                Data Empty!
                            </div>
                        </td>
                    </tr>
                    <tr v-else v-for="(p, i) in post" :key="i">
                        <td class="text-center">{{ i + 1 }}</td>
                        <td class="text-center">{{ p.title }}</td>
                        <td class="text-center">{{ p.author }}</td>
                        <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">{{ p.content }}</td>
                        <td class="text-center align-middle">
                            <router-link :to="{ path: `/updateArticle/${p.id}`, }" class="btn btn-sm btn-primary rounded-sm shadow border-0">
                                <i class="fa-solid fa-pencil"></i>
                            </router-link>
                            <button class="btn btn-sm btn-warning rounded-sm shadow border-0 mx-2 text-white" @click.prevent="showArticle(p.id)" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                            <button @click.prevent="deleteArticle(p.id)" class="btn btn-sm btn-danger rounded-sm shadow border-0">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Show Article</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span class="fw-bold">Title</span>
                <input type="text" class="form-control mb-3" v-model="title" disabled>

                <span class="fw-bold">Author</span>
                <input type="text" class="form-control mb-3" v-model="author" disabled>

                <span class="fw-bold">Content</span>
                <div class="form-floating">
                    <textarea class="form-control" id="floatingTextarea2" style="height: 100px" v-model="content" disabled></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>
    </div>
</template>