<script setup>
    import { ref } from "vue";
    import { useRouter } from 'vue-router';

    import api from '../api/api.js';

    const router = useRouter();

    const title = ref("");
    const author = ref("");
    const content = ref("");
    const errors = ref([]);

    const storePost = async () => {
        let formData = new FormData();

        formData.append("title", title.value);
        formData.append("author", author.value);
        formData.append("content", content.value);

        await api.post('/article', {
            "title" : title.value,
            "author": author.value,
            "content": content.value,
        }, {
            headers: {
            'Content-Type': 'application/json'
        }}).then(() => {
            Swal.fire(
                'Success create article!',
                '',
                'success'
            ).then(() => {
                router.push({ path: "/" });
            })
        }).catch((err) => {
            errors.value = err.response.data.message
        })
    };
</script>

<template>
    <div class="col-6 ms-5">
        <form @submit.prevent="storePost()">
            <div>
                <span class="fw-bold">Title Article</span>
                <input type="text" class="form-control" v-model="title">
                <div v-if="errors.title" class="alert alert-danger mt-2">
                    <span>{{ errors.title }}</span>
                </div>
            </div>

            <div class="my-3">
                <span class="fw-bold">Author</span>
                <input type="text" class="form-control" v-model="author">
                <div v-if="errors.author" class="alert alert-danger mt-2">
                    <span>{{ errors.author }}</span>
                </div>
            </div>

            <div>
                <span class="fw-bold">Content</span>
                <div class="form-floating">
                    <textarea class="form-control" id="floatingTextarea2" style="height: 100px" v-model="content"></textarea>
                    <div v-if="errors.content" class="alert alert-danger mt-2">
                        <span>{{ errors.content }}</span>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-success mt-3 text-white fw-bold">Save</button>
        </form>
    </div>
</template>