<template>
    <nav class="navbar navbar-light navbar-expand-lg mb-5" style="background-color: #d3e6f5;">
        <div class="col-6 ms-5">
            <h2 class="fw-bold m-0">Article LOD</h2>
        </div>
    </nav>
    <main>
        <router-view />
        <sidebarComponent />
    </main>
</template>
