<script setup>
    import { ref, onMounted } from "vue";
    import { useRouter, useRoute } from 'vue-router';

    import api from '../api/api.js';

    const router = useRouter();
    const route = useRoute();

    const title = ref("");
    const author = ref("");
    const content = ref("");
    const errors = ref([]);

    onMounted(async () => {
        await api.get(`/article/${route.params.id}`)
        .then(response => {
            title.value = response.data.title;
            author.value = response.data.author;
            content.value = response.data.content;
        }).catch((err) => {
            errors.value = err.response.data.message
        });
    })

    const updateArticle = async () => {
        await api.put(`/article/${route.params.id}`, {
            "title" : title.value,
            "author": author.value,
            "content": content.value,
        }, {
            headers: {
            'Content-Type': 'application/json'
        }}).then(() => {
            Swal.fire(
                'Success Updated!',
                '',
                'success'
            ).then(() => {
                router.push({ path: "/" });
            })
        }).catch((err) => {
            errors.value = err.response.data.message;
        });
    };
</script>

<template>
    <div class="col-6 ms-5">
        <form @submit.prevent="updateArticle()">
            <div>
                <span class="fw-bold">Title Article</span>
                <input type="text" class="form-control" v-model="title">
                <div v-if="errors.title" class="alert alert-danger mt-2">
                    <span>{{ errors.title }}</span>
                </div>
            </div>

            <div class="my-3">
                <span class="fw-bold">Author</span>
                <input type="text" class="form-control" v-model="author">
                <div v-if="errors.author" class="alert alert-danger mt-2">
                    <span>{{ errors.author }}</span>
                </div>
            </div>

            <div>
                <span class="fw-bold">Content</span>
                <div class="form-floating">
                    <textarea class="form-control" id="floatingTextarea2" style="height: 100px" v-model="content"></textarea>
                    <div v-if="errors.content" class="alert alert-danger mt-2">
                        <span>{{ errors.content }}</span>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-success mt-3 text-white fw-bold">Save</button>
        </form>
    </div>
</template>